@model Comercio.ViewModel.Categorias.CadastrarCategoriaViewModel

<div class="container" style="margin-top: 30px">
    <div class="panel panel-default">
        <div class="panel-heading">
            Cadastrar Categoria
        </div>
        <div class="panel-body">

            <span class="alert-danger">@Html.ValidationSummary()</span>

            @using (Html.BeginForm())
            {
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(c => c.Descricao, new { @class = "control-label" })
                        @Html.TextBoxFor(c => c.Descricao,
                                           new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <label><span>  </span></label>
                        <div class="form-group">
                            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
                            <button type="submit" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>