@model Comercio.ViewModel.Pedidos.PedidoViewModel

@{
    ViewBag.Title = "Pedido";

   var Itens = Session["Itens"];
}

<div class="container-fluid" style="margin-top: 30px">
    <div class="panel panel-default">
        <div class="panel-heading">
            Pedido
        </div>
        <div class="panel-body">

            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span>@TempData["Success"]</span>
                </div>
            }


            @if (Itens != null)
            {
                <div class="form-group">
                    @Html.ActionLink("Finalizar Pedido", "Finalizar", null, new { @class = "btn btn-success"})
                </div>
            }
            else
            {
                <div class="form-group">
                    <button type="button" class="btn btn-success" disabled>Finalizar Pedido</button>                    
                </div>
            }

            <table id="tbProdutos" class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th class="no-sort">#</th>
                        <th>Descrição</th>
                        <th class="no-sort">Categoria</th>
                        <th class="no-sort">Preço</th>
                        <th class="text-center no-sort">Ações</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $.noConflict();

        var tableProdutos = $("#tbProdutos").DataTable({
            language: {
                processing: "Carregando...",
                lengthMenu: "Exibe _MENU_ Registros por página",
                search: "Descrição",
                info: "Exibindo _START_ a _END_ de _TOTAL_ registros.",
                zeroRecords: "Nenhum registro encontrado.",
                emptyTable: "Nenhum registro encontrado.",
                paginate: {
                    first: "«",
                    previous: "‹",
                    next: "›",
                    last: "»"
                }
            },
            lengthMenu: [5, 10],
            pagingType: "full_numbers",
            processing: true,
            serverSide: true,
            filter: true,
            pageLength: 5,
            columnDefs: [{
                targets: 'no-sort',
                orderable: false,
            }],
            order: [1, "asc"],
            ajax: {
                type: "POST",
                url: "/Produtos/Cadastrados",
                dataType: "json"
            },
            columns: [
                { data: "idProduto", "width": "10px" },
                { data: "descricao", "autowidth": true },
                { data: "categoria", "autowidth": true },
                { data: "preco", "autowidth": true },
                {
                    width: "40px",
                    render: function (data, type, full, meta) {
                        return '<button class="btn btn-sm btn-success" onclick=location.href="/Pedidos/AdicionarProduto/?id=' + full.idProduto + '" ><span class="glyphicon glyphicon-shopping-cart"></span></button>';
                    }
                }
            ]
        });

    });

</script>
